<h2>{{title}}</h2>
<h1>This is Component</h1>
<button (click)="getData('Hello')">Call Function</button> <br>
<br>
<input type="text" #box (keyup)="getData(box.value)" placeholder="event keyup"> <br><br>
<input type="text" #box1 (keydown)="getData(box1.value)" placeholder="Event keyDown"><br><br>
<input type="text" #box2 (blur)="getData(box2.value)" placeholder="event blur"><br><br>
<input type="text" #box3 (keypress)="getData(box3.value)" placeholder="event keypress"><br><br>
<input type="text" #box4 (keypress)="getData(box4.value)" (blur)="getData(box4.value)" placeholder="event keypress and blur"> <hr>

<h1 (mouseover)="getData('mouseover')">This is mouseover Event</h1>
<h1 (mouseleave)="getData('mouseleave')">Mouse Leave event</h1> 
<h1 (mouseover)="getData ('mouseover')" (mouseleave)="getData('mouseleave')">both mouseover and mouseleave</h1> <hr>


<h3>#Get Input Box vlaue and Display</h3>
<!-- Get Input Box vlaue and Display -->
<input type="text"
 #box5
placeholder="Enter Name" name="name"/> 
<button (click)="getData(box5.value)">click</button>
<p> The Value in Box is :  {{displayVal}} </p>

&nbsp;<br> <br><hr>


<!-- <h3>{{getData()}}</h3> -->
<h3>{{title=="Lets Learn JAVA"}} </h3> 
<!-- is flase because in component.ts title name is "Lets Learn Angualr" -->
<h3 class="{{title}}">Title is: "{{title}}"</h3>
<h4> Arithmetic By Using Interpolation
1. Addition: {{11+22}} ,
2. Multiplication: {{10*5}},
3. division : {{84/12}},
4. Reminder :{{38 %12}},
5. Area OF Circle: {{3.14*4*4}}
</h4>
<app-login></app-login>
<app-country-list></app-country-list>
<app-user-list></app-user-list>
<app-student-list></app-student-list>
<about-component></about-component>
<footer-component></footer-component>
<app-nav-bar></app-nav-bar>
<!-- ........**********............. -->
