<h2>{{title}}</h2>
<h1>This is Component</h1>
<h3>{{getvalue()}}</h3>
<h3>{{title=="Lets Learn JAVA"}} </h3> 
<!-- is flase because in component.ts title name is "Lets Learn Angualr" -->
<h3 class="{{title}}">Title is: "{{title}}"</h3>
<h4> Arithmetic By Using Interpolation
1. Addition: {{11+22}} ,
2. Multiplication: {{10*5}},
3. division : {{84/12}},
4. Reminder :{{38 %12}},
5. Area OF Circle: {{3.14*4*4}}
</h4>
<app-country-list></app-country-list>
<app-user-list></app-user-list>
<app-student-list></app-student-list>
<about-component></about-component>
<footer-component></footer-component>
<app-nav-bar></app-nav-bar>